# Ambiente virtual
.venv/
env/
venv/

# Arquivos de compilação Python
*.pyc
*.pyo
__pycache__/

# Configurações de IDEs e editores
.vscode/
.idea/

# Arquivos de log
*.log

# Outros arquivos temporários
*.tmp
